aside{
    grid-area: aside;
}
body{
    display: grid;
    grid-template-areas: 
        "nav nav nav nav"
        "header header header aside"
        "section section section aside"
        "footer footer footer footer";
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 8vw 60vw 30vw 20vw;
    margin: 0;
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
nav{
    grid-area: nav;
}
section{
    grid-area: section;
}
